:root {
  --application-primary-color: #746CFE;
  --application-secondary-color: #b9b6fd;
  --application-tertiary-color: #8a8a8a;
  --application-primary-background-color: #242132;
  --application-secondary-background-color: #FEFCFF;
  --application-error-color: #FF0038;
  --application-border-radius: 5px;
}