#registrationPageMain {
  background-color: inherit;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;

  #registrationPageContent {
    background-color: var(--application-secondary-background-color);
    width: 500px;
    height: calc(100vh - 15%);
    border-radius: var(--application-border-radius);
    padding: 30px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
  }

  .ssoControlsContainer {
    grid-auto-rows: 60px;
    row-gap: 50px;
    height: 100%;
  }
}