#scrollspyPageMain {
  display: grid;
  grid-template-columns: 250px auto;
  text-rendering: optimizeLegibility;

  #scrollspyPageContent {
    height: 100vh;
    padding: 0px 40px;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  }

  .sectionItem {
    border-bottom: 1px solid var(--application-tertiary-color);
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: stretch;
  }

  .sectionItemTitle {
    font-size: 25px;
    margin: 0;
    font-family: 'Roboto-Bold';
    color: var(--application-primary-color);
  }

  .sectionItemDescription {
    font-size: 15px;
    color: var(--application-tertiary-color);
  }
}