#loginPageMain{
  background-color: inherit;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;

  #LoginForm{
    background-color: var(--application-secondary-background-color);
    width: 370px;
    height: calc(100vh - 25%);
    border-radius: var(--application-border-radius);
    padding: 30px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
  }
}