#myProfileMain {
  background-color: var(--application-secondary-background-color);
  border-radius: var(--application-border-radius);
  padding: 30px;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 10px;
  justify-content: center;
  color: var(--application-primary-background-color);
  width: fit-content;
  margin: 0 auto;

  .avatarContainer {
    border-radius: var(--application-border-radius);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--application-primary-color);
    color: var(--application-secondary-background-color);
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto-Bold';
  }

  .name {
    margin: 0 auto;
    color: var(--application-primary-color);
    font-family: 'Roboto-Bold';
    font-size: 30px;
  }

  .email {
    margin: 0 auto;
    font-family: 'Roboto-Bold';
    font-size: 18px;
    color: var(--application-tertiary-color);
  }

  .id,
  .loggedInStatus {
    text-align: center;
    font-size: 12px;
  }

  .logoutButton {
    margin-top: 20px;
  }
}